/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@tailwind base;
@tailwind components;
@tailwind utilities;

// @font-face {
// 	font-family: 'Inter';
// 	font-style: normal;
// 	font-weight: 100 900;
// 	font-display: swap;
// 	// src: url('/static/fonts/FredokaOne-Regular.ttf') format('ttf');
// 	src: url('/static/fonts/Inter-roman.var.woff2') format('woff2');

// 	font-named-instance: 'Regular';
// }

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
body {
	font-family: 'Rubik', sans-serif;
	// font-family: 'Fredoka One', cursive;
	// font-family: 'Inter', sans-serif;
}

::selection {
	background: rgb(3, 176, 182);
	color: white;
}
