/* Variables and mixins declared here will be available in all other SCSS files */
$primary: #00d6d3;
$primary-50: #8ffffd;
$primary-100: #7afffd;
$primary-200: #51fffd;
$primary-300: #29fffc;
$primary-400: #00fffb;
$primary-500: #00d6d3;
$primary-600: #009e9c;
$primary-700: #006664;
$primary-800: #002e2d;
$primary-900: #001f1f;

$accent: #8ec200;
$accent-50: #dcff7b;
$accent-100: #d6ff66;
$accent-200: #cbff3d;
$accent-300: #c0ff15;
$accent-400: #aceb00;
$accent-500: #8ec200;
$accent-600: #658a00;
$accent-700: #3c5200;
$accent-800: #1d2700;
$accent-900: #131a00;
